<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Music app</h3>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<p>
    <a th:href="@{/song/create}">
        Add new Song
    </a>
</p>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Singer</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${songs}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getSinger()}"></td>
        <td th:text="${row.getGenre()}"></td>
        <td><a th:href="@{/song/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/song/{id}/delete(id=${row.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>