<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View product</h3>
<p>
    <a th:href="@{/product}">
        Back to book list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>ID:</label>
        <label th:text="${book.id}"></label>
    </div>
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${book.name}"></label>
    </div>
    <td><a th:href="@{/book/{id}/borrow(id=${book.id})}">Borrow</a></td>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>