<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Cart</h3>
<p>
    <a th:href="@{/shop}">
        Back to shop
    </a>
</p>
<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <form method="post" action="/shop/pay" th:object="${product}">
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.value}"></td>
        </tr>
        <tr>
            <td>Total Pay</td>
            <td th:text="${totalPay}"></td>
            <td><a href="error.html">Pay</a></td>
        </tr>
    </form>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>