<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View product</h3>
<p>
    <a th:href="@{/shop}">
        Back to product list
    </a>
</p>
<div id="detail">
    <form method="get" action="/shop/addProduct/">
        <div class="cusdetail">
            <label>Name:</label>
            <label th:text="${product.name}"></label>
        </div>
        <div class="cusdetail">
            <label>Price:</label>
            <label th:text="${product.price}"></label>
        </div>
        <div class="cusdetail">
            <label>Description:</label>
            <label th:text="${product.productDesc}"></label>
        </div>
        <a th:href="@{/shop/addProduct/{id}(id=${product.id})}">ADD</a>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>